.menu {
    height: 100%;
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: rgb(243, 243, 243);

    .categories {
        text-align: center;

        .title {
            font-size: 35px;
        }
    }
}